# ignore photoshop files,
*.psd
# ignore uploaded files
/uploads/
# ignore composer files
/vendor/
# ignore NetBeans project files
/nbproject/
# ignore useless experimental PHP files
/sandbox/
# ignore files with fonts
/fonts/