* {
	background-color: white;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafafa;
	background-position: right top;
	background-repeat: no-repeat;
	font-family: Times New Roman;
}


/*   a:link,  a:visited,  a:hover,  a:active   */
a, a:visited {
	background-color: #00dd00;
	color: #004400;
	padding: 10px 20px;
	text-decoration: underline;
}

a:hover {
	background-color: #00bb00;
	color: white;
}

/* when you have clicked */
a:active {
	color: black;
}

#content {
	margin: 32px 32px;
}
.content_header {
	font-family: Verdana;
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 16px;
}
.p_form {
	margin-bottom: 16px;
}
.p_submit {
	margin-bottom: 16px;
}
/*.button_submit {
	border: 0;
	background: #bbccee;
	padding: 8px 16px;
	height: 32px;
	transition: 0.75s;
}*/
.button_submit {
	border: 0;
	padding: 8px 16px;
	height: 32px;
	background-color: #bbccee;
	transition: background 0.25s;
}
.button_submit:hover {
	cursor: pointer;
	border: 0;
	background: #4897a0;
	color: #fff;
	padding: 8px 16px;
	height: 32px;
	text-decoration: underline;
}

.textbox {
	font-family: 'Courer New';
	font-size: 20px;
	height: 32px;
	padding-left: 4px;
	padding-right: 4px;
}
.textbox.object_name { width: 512px; }
.textbox.object_location { width: 512px; }

.textarea.object_description {
	font-size: 16px;
	height: 128px;
	resize: none;
	width: 512px;
}

.file_block {
	width: 512px;
	background-color: #cbe5e8;
	font-family: 'Trebuchet MS';
	font-style: italic;
	padding: 0px;
}

th, td {
	padding-left: 16px;
	padding-right: 16px;
}
.table_header {
	background-color: #aaeeaa;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	
}