* {
	background-color: transparent;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafafa;
	color: #111;
	font-family: 'Candara', 'Times New Roman';
}

.message {
	margin-bottom: 16px;
}
.message.error {
	background-image: url('img/error_icon_small.png');
	background-repeat: no-repeat;
	background-color: #511e66;
	color: #fff;
	height: 26px;
	padding-left: 36px;
	padding-top: 6px;
}
.message.info {
	background-image: url('img/message_icon_small.png');
	background-repeat: no-repeat;
	background-color: #0098b8;
	color: #fff;
	height: 26px;
	padding-left: 36px;
	padding-top: 6px;
}

#top-wrapper {}
#navigation {
	margin: 32px 16px;
}
/*   a:link,  a:visited,  a:hover,  a:active   */
.link, .link:visited {
	color: #66aa28;
	text-decoration: underline;
        /*transition: color 0.35s;*/
}
    .link.nav_link, .link.nav_link:visited {
            margin: 16px 16px;
            font-size: 18px;
    }
.link:hover {
	color: #6600ff;
}
.link:active {
	color: black;
}

#main-wrapper {}
#content {
	margin: 32px 32px;
}
#content.autorization {
	width: 400px;
}
.content-block {
	display: block;
	width: 500px;
}
.header {
	margin-bottom: 16px;
	padding: 4px 32px;
	font-family: Verdana;
	font-size: 26px;
	font-weight: normal;
	background-color: #baff4c;
	color: #111;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#baff4c+0,a2d800+100 */
	background: rgb(186,255,76); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(186,255,76,1) 0%, rgba(162,216,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(186,255,76,1) 0%,rgba(162,216,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(186,255,76,1) 0%,rgba(162,216,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baff4c', endColorstr='#a2d800',GradientType=1 ); /* IE6-9 */
}
.p_form {
	margin-bottom: 16px;
}
.p_submit {
	margin-bottom: 16px;
}
.button {
	border: 0;
	padding: 8px 16px;
	height: 32px;
	background-color: #bbccee;
	/*transition: background 0.25s;*/
}
.button.submit {
	border: 0;
	padding: 8px 16px;
	height: 32px;
	background-color: #bbccee;
	transition: background 0.35s;
}
.button:hover {
	background-color: #4897a0;
	border: 0;
	color: #fff;
        cursor: pointer;
	text-decoration: underline;
}
.button.green { background-color: #48b208; color: #fff; }
.button.green:hover { background-color: #6cc537; }

.textbox, .textarea {
        border: 3px solid #ddd;
        border-radius: 5px;
        outline: none;
        padding-left: 4px;
	padding-right: 4px;
}
.textbox {
	font-family: 'Courer New';
	font-size: 20px;
	height: 32px;
}
.textbox.big { width: 384px; }
.textbox.autorization { width: 296px; }
.textbox.object_name { width: 504px; }
.textbox.object_location { width: 504px; }

.textarea {
	border-radius: 2px;
        padding-top: 4px;
        padding-bottom: 60px;
        resize: none;
}
.textarea.big {
        width: 384px;
        height: 128px;
}
.textarea.enormous {
        width: 384px;
        height: 256px;
}
.textarea.object_description {
	font-size: 16px;
	height: 128px;
	width: 512px;
}

.file_block {
	width: 512px;
	background-color: #cbe5e8;
	font-family: 'Trebuchet MS';
	font-style: italic;
	border-radius: 5px;
}

.table { border-spacing: 0; }
.table tr {
        background-color: #f2f2f2;
}
.table tr:hover {
	background-color: #ccffb3;
}
.table th, .table td {
	padding-left: 16px;
	padding-right: 16px;
}
.table th {
	background-color: #48b208;
	color: #fff;
	font-family: 'Verdana';
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 10px;
        text-align: left;
}
.table td {
	font-size: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: top;
	border-bottom: 1px solid #a1a1a1;
}
.table .td_edit { width: 10%;}
.table .td_name { width: 10%;}
.table .td_location { width: 20%; }