* {
	background-color: white;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafafa;
	background-position: right top;
	background-repeat: no-repeat;
	font-family: Times New Roman;
}

#navigation {
	margin: 16px 16px;
}

/*   a:link,  a:visited,  a:hover,  a:active   */
.link, .link:visited {
	color: #66aa28;
	text-decoration: underline;
}
.link.nav_link, .link.nav_link:visited {
	margin: 16px 16px;
	font-size: 18px;
}

.link:hover {
	color: #6600ff;
}

/* when you have clicked */
.link:active {
	color: black;
}
#content_pre {
	margin-left: 16px;
	margin-top: 32px;
}
.content_header {
	margin-bottom: 16px;
	padding: 4px 16px;
	font-family: Verdana;
	font-size: 26px;
	font-weight: normal;
	background-color: #baff4c;
	border-radius: 7px 0 0 7px;
	color: #111;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#baff4c+0,a2d800+100 */
	background: rgb(186,255,76); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(186,255,76,1) 0%, rgba(162,216,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(186,255,76,1) 0%,rgba(162,216,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(186,255,76,1) 0%,rgba(162,216,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baff4c', endColorstr='#a2d800',GradientType=1 ); /* IE6-9 */
}
#content {
	margin: 32px 32px;
}
.p_form {
	margin-bottom: 16px;
}
.p_submit {
	margin-bottom: 16px;
}
/*.button_submit {
	border: 0;
	background: #bbccee;
	padding: 8px 16px;
	height: 32px;
	transition: 0.75s;
}*/
.button {
	border: 0;
	padding: 8px 16px;
	height: 32px;
	background-color: #bbccee;
	transition: background 0.25s;
}
.button.submit {
	border: 0;
	padding: 8px 16px;
	height: 32px;
	background-color: #bbccee;
	transition: background 0.25s;
}
.button:hover {
	cursor: pointer;
	border: 0;
	background: #4897a0;
	color: #fff;
	padding: 8px 16px;
	height: 32px;
	text-decoration: underline;
}
.button.green { background-color: #48b208; color: #fff; }
.button.green:hover { background-color: green; }

.textbox {
	font-family: 'Courer New';
	font-size: 20px;
	height: 32px;
	padding-left: 4px;
	padding-right: 4px;
}
.textbox.object_name { width: 512px; }
.textbox.object_location { width: 512px; }

.textarea.object_description {
	font-size: 16px;
	height: 128px;
	resize: none;
	width: 512px;
}

.file_block {
	width: 512px;
	background-color: #cbe5e8;
	font-family: 'Trebuchet MS';
	font-style: italic;
	padding: 0px;
}

.table_catalog {
	border-spacing: 0;
}
.table_header_name{ width: 96px; }
.table_header_location{ width: 216px; }
.table_catalog th:hover {
	background-color: green;
}
.table_catalog th, .table_catalog td {
	padding-left: 16px;
	padding-right: 16px;
}
.table_catalog th {
	background-color: #48b208;
	color: #fff;
	font-family: 'Verdana';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 10px;
}
.table_catalog td {
	/*background-color: #f2f2f2;*/
	font-size: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: top;
	border-bottom: 1px solid #a1a1a1;
}